
/* 
    Created on : Apr 8, 2018, 3:51:47 AM
    Author     : William Orgertrice, Ayanna Shaheed and Julian Sosa
*/

/*attributes*/
body{
        background-color: #666699;
	font-family: arial;
	margin: 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.8em;
	color: #ecd9c6;
}
/*classes*/
.Footer{
	color: white;
	display: inline-block;
	text-align: center;
	width: 100%;
        background-color: #660066;
}
.Header{
	width: 100%;
	display: inline-block;
	color: white;
        background-color: #0F57E8;
}
.MainContent{
	margin-top: 60px;
	display: inline-block;
	text-align: center;
        background-color: #2E38BA;
}
.Top{
        font-family: 'Open Sans', sans-serif; 
}
.Middle{
        font-family: 'Droid Sans',sans-serif;
}
.Bottom{
        font-family: 'PT Sans',sans-serif;
}